.fr
  - if current_user.is_moving
    #is_moving
.contents
  = render 'layouts/header'
  .show
    .user_infos
      .user_infos__header
        = current_user.name
        = link_to 'ユーザ情報変更', edit_user_registration_path(current_user), class: "header__left-btn_edit"
      .user_infos__main
        .user_infos_main__infolist
          .info_key
            総移動時間：
          .info_value
            - if current_user.total_travel_time == nil
              まだ移動したことがありません
            -else
              = @total_time
            %a.modal_timeRank{href: "#modal_timeRank"}
              = "(ランク#{@user_rank_time}位)"
            #modal_timeRank{style: "display:none"}
              順位 ユーザー名 総経過時間 登録日
              %br
              - @ranks_time.each_with_index do |u,i|
                = i+1
                = u[0]
                = link_to u[1], `/users/#{u[0]}`
                = u[2]
                = u[3].strftime('%Y/%m/%d')
                %br/
        .user_infos_main__infolist
          .info_key
            経過日数[日]：
          .info_value
            = ((Time.now - current_user.created_at)/(60*60*24)).floor
            日
        .user_infos_main__infolist
          .info_key
            最後に移動した日：
          .value
            - if current_user.end_time == nil
              まだ移動したことがありません
            - else
              = current_user.end_time.strftime("%Y年%m月%d日")
        .user_infos_main__infolist
          .info_key
            = "制覇した路線数："
          .value
            = "#{@comp_rw} 路線 / 全#{@total_rw}路線"  
            =  "(ランク#{@user_rank_railway}位)" 
        .user_infos_main__infolist
          .info_key
            = "路線別踏破駅数："
          .value
            =  "(ランク#{@user_rank_railway}位)" 
            - Hash[ @passed_rw_st.sort_by{ |_, v| v[3] } ].each do |key, value|
              = "#{key}: #{value[1]}駅 / 全#{value[2]}駅 "
              %br/
            
    .avatars_infos
      .avatars_infos__header
        = current_user.avatars[0].name
        = link_to 'アバター情報変更', edit_avatar_path(current_user), class: "avatar__header__btn_edit"
      .avatars_infos__main
        .avatars_infos__main__right

          .avatars_infos__main__right__image
            - img_src = "avatar_type" + @avatar_type+ ".png"
            = image_tag img_src, size: "200x200", alt: "アバタータイプ"
          .avatars_infos__main__right___infolist
            .info_key
              アバターレベル：
            .value
              = current_user.avatars[0].stage
          .avatars_infos__main__right___infolist
            .info_key
              現在地：
            .value
              - station = Station.find(current_user.avatars[0].curr_station_id)
              - railway_str = "(" + Railway.find(station.railway_id).jname + ")"
              = station.name
              駅
              = railway_str
          .avatars_infos__main__right___infolist
            .info_key
              拠点駅：
            .value
              - home_station = Station.find(current_user.avatars[0].home_station_id)
              - home_railway_str = "(" + Railway.find(home_station.railway_id).jname + ")"
              = home_station.name
              駅
              = home_railway_str
          .avatars_infos__main__right___infolist
            .info_key
              踏破駅数：
            .value
              = @comp_st
              = "駅(全#{@total_st}駅)"

              = @test
        .avatars_infos__main__map
          .avatars_infos__main__map__gmap{style: "width:600px; height:600px;   position:relative;"} 
          .avatars_infos__main__map__detail
            詳細情報

