.fr
  - if current_user.is_moving
    #is_moving
.contents
  = render 'layouts/header'
  .show
    .user_infos
      .user_infos__header
        .name.big_list
          %p.key ユーザー :
          %p.value
            =@user.name
        .edit_link
          -if current_user == @user
            = link_to edit_user_registration_path(current_user), class: "small_btn header__left-btn_edit" do
              =fa_icon "cog"
      .user_infos__main
        %ul
          %li.infolist.user_infos_main__infolist
            .info_key
              総移動時間
            .info_value
              - if @user.total_travel_time == nil
                まだ移動したことがありません
              -else
                = @total_time
              %a.modalRank__time{href: "#modalRank__time"}
                = "(ランク#{@user_rank_time}位)"
        
          %li.infolist.user_infos_main__infolist
            .info_key
              経過日数[日]
            .info_value
              = ((Time.now - @user.created_at)/(60*60*24)).floor
              日

          %li.infolist.user_infos_main__infolist
            .info_key
              最後に移動した日
            .info_value
              - if @user.end_time == nil
                まだ移動したことがありません
              - else
                = @user.end_time.strftime("%Y年%m月%d日")

          %li.infolist.user_infos_main__infolist
            .info_key
              = "制覇した路線数"
            .info_value
              = "#{@comp_rw} 路線 / 全#{@total_rw}路線" 
              %a.modalRank__railway{href: "#modalRank__railway"} 
                =  "(ランク#{@user_rank_railway}位)" 

          %li.infolist.user_infos_main__infolist
            .info_key
              = "路線別踏破駅数"
            .info_value
              = "#{@comp_st} 駅 / 全#{@total_st}駅" 
              %a.modalRank__station{href: "#modalRank__station"} 
                =  "(ランク#{@user_rank_station}位)" 
              %br/
              .passed_station_detail
                .detail_not_show
                  .detail_btn
                    詳細を表示
                    = fa_icon "chevron-down"
                .detail_show.indivi
                  .detail_btn
                    詳細を非表示
                    = fa_icon "chevron-up"
                  .detail_list
                    - Hash[ @passed_rw_st.sort_by{ |_, v| v[3] } ].each do |key, value|
                      = "#{key}: #{value[1]}駅 / 全#{value[2]}駅 "
                      %br/
              
    .avatars_infos
      .avatars_infos__header
        .name.big_list
          %p.key アバター :
          %p.value
            = @user.avatars[0].name
        .edit_link
          -if current_user == @user
            = link_to edit_avatar_path(@user.avatars[0].id), class: "small_btn avatar__header__btn_edit" do
              =fa_icon "edit"
      .avatars_infos__main
        .avatars_infos__main__right
          .avatars_infos__main__right__image
            - img_src = "avatar_type" + @avatar_type+ ".png"
            = image_tag img_src, size: "200x200", alt: "アバタータイプ"
          %ul
            %li.infolist
              .avatars_infos__main__right___infolist
                .info_key
                  アバターレベル
                .info_value
                  = @user.avatars[0].stage

            %li.infolist
              .avatars_infos__main__right___infolist
                .info_key
                  現在地
                .info_value
                  - station = Station.find(@user.avatars[0].curr_station_id)
                  - railway_str = "(" + Railway.find(station.railway_id).jname + ")"
                  #{station.name}駅
                  = railway_str

            %li.infolist
              .avatars_infos__main__right___infolist
                .info_key
                  拠点駅
                .info_value
                  - home_station = Station.find(@user.avatars[0].home_station_id)
                  - home_railway_str = "(" + Railway.find(home_station.railway_id).jname + ")"
                  #{home_station.name}駅
                  = home_railway_str

            %li.infolist
              .avatars_infos__main__right___infolist
                .info_key
                  踏破駅数
                .info_value
                  = @comp_st
                  = "駅(全#{@total_st}駅)"
                  = @test

        .avatars_infos__main__map
          .avatars_infos__main__map__gmap{style: "width:500px; height:500px;   position:relative;"} 
          -# .avatars_infos__main__map__detail
          -#   詳細情報




-# モーダル画面 
#modalRank__time{style: "display:none"}
  順位 ユーザー名 総経過時間 登録日
  %br
  -# [userid,username,avatarname,総経過時間, 登録日]
  - @ranks_time.each_with_index do |u,i|
    = "#{i+1}位"
    %a{href: "/users/#{u[0]}"}
      ="#{u[1]}(#{u[2]})"
    = u[3]
    = u[4].strftime('%Y/%m/%d')
    %br/

#modalRank__railway{style: "display:none"}
  順位 ユーザー名(アバター名) 制覇路線数
  %br
  -# [userid,username,avatarname,路線数, 登録日]
  - @ranks_railway.each_with_index do |u,i|
    = "#{i+1}位"
    %a{href: "/users/#{u[0]}"}
      ="#{u[1]}(#{u[2]})"
    = "#{u[3]} 路線" 
    = u[4].strftime('%Y/%m/%d')
    %br/
  
#modalRank__station{style: "display:none"}
  順位 ユーザー名(アバター名) 踏破駅数
  %br
  -# [userid,username,avatarname,駅数, 登録日]
  - @ranks_station.each_with_index do |u,i|
    = "#{i+1}位"
    %a{href: "/users/#{u[0]}"}
      ="#{u[1]}(#{u[2]})"
    = "#{u[3]} 駅" 
    = u[4].strftime('%Y/%m/%d')
    %br/