.contents
  = render 'layouts/header'
  アバターをつくりましょう
  .form
    = form_with model: @avatar ,local: true do |f|
      - if @avatar.errors.any?
        .form__errors
          %h2= "#{@avatar.errors.full_messages.count}件のエラーが発生しました"
          %ul
            - @avatar.errors.full_messages.each do |message|
              %li= message
      .form__name-input
        %p アバターの名前を入力してください
        = f.text_field :name, placeholder: "アバターの名前" ,class: "new_avatar_name"
      .form__home-station-input
        %p アバターが出発する駅を選んでください
        -# デフォルト値：東京駅（中央線快速）（curr,lastのみ）
        = f.text_field   :keyword, placeholder: "アバターの出発駅", id: "home_station_input-field"
        = f.hidden_field :curr_station_id,   value: 71,      class: "hidden_remove"
        = f.hidden_field :curr_station_lat,  value: 35.6813, class: "hidden_remove"
        = f.hidden_field :curr_station_long, value: 139.767, class: "hidden_remove"
        = f.hidden_field :last_station_id,   value: 71,      class: "hidden_remove"
        = f.hidden_field :last_station_lat,  value: 35.6813, class: "hidden_remove"
        = f.hidden_field :last_station_long, value: 139.767, class: "hidden_remove"
      .form__type-select
        = f.hidden_field :stage, value: 1
        .form__type-select__op
          = image_tag "avatar_type1.png", size: "150x150", alt: "アバタータイプ1", class: "form__type-select__op__img--1"
          %p タイプ１
        .form__type-select__op
          = image_tag "avatar_type2.png", size: "150x150", alt: "アバタータイプ2", class: "form__type-select__op__img--2"
          %p タイプ２
        .form__type-select__op
          = image_tag "avatar_type3.png", size: "150x150", alt: "アバタータイプ3", class: "form__type-select__op__img--3"
          %p タイプ３
      .form__submit
        = f.button '登録する', type: 'button', onclick: 'submit();',class:"btn"
