!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AvatarBi
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = include_gon
  %body

    %script{type: "text/javascript", charset: "utf-8", src: "https://map.yahooapis.jp/js/V1/jsapi?appid="+Rails.application.credentials.ymap[:y_id]}
    %script{src: "https://maps.googleapis.com/maps/api/js?key="+ Rails.application.credentials.gmap[:gmap_secret_key]}
    = render 'layouts/flash'
    = render 'layouts/header'
    = yield
